{% extends 'base.html' %}

{% block title %}История кинематографа{% endblock %}

{% block content %}
<h1>{{area.area_name_ru}}</h1>
{% if articles_list %}
  {% for a in articles_list %}
    <a class="widget-header-small button" href="{% url 'articles:detail' a.id %}"><span class="fas fa-xs" aria-hidden></span>{{a.article_title}}</a>
  {% endfor %}
{% endif %}

{% endblock %}
