{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

  <h2>{{article.article_title}}</h2>
  <p>{{article.article_text}}</p>
  <hr>
  <em>{{article.pub_date}}</em>



{% endblock %}
