{% extends 'base.html' %}

{% block title %}История кинематографа{% endblock %}

{% block content %}

<p class="content_text">Первым описанием плоских движущихся изображений принято считать рассказ о тенях, «отбрасываемых огнем … на стену пещеры» в начале седьмой книги платоновского Государства. Описания, предвосхищающие кино, также иногда находят у Герона Александрийского и Клавдия Птолемея.</p>
<p class="content_text">Однако если говорить не о сходстве разного рода метафор со знакомым нам явлением, а о реальной системе, позволяющей записывать и воспроизводить бесконечное разнообразие движущихся плоских изображений, то непосредственными предшественниками кинематографа были, во-первых, различные игрушки с сериями картинок, которые при быстрой их смене воспринимались как одно движущееся изображение (среди таких игрушек надо отметить т.н. «чудо-блокнот», «зоотроп» и «фенакистоскоп») – все эти системы позволяли воспроизводить не более нескольких секунд движения. А во-вторых, предшественником кино как системы был волшебный фонарь (также laterna magica – нечто вроде современного диапроектора), который в середине 19 в. часто снабжался приспособлениями, позволяющими имитировать некоторые виды движения.</p>
<hr>
<p class="content_text">Но создание кинематографа как системы воспроизведения достаточно длительного движущегося изображения, причем изображения совершенно произвольного (в том числе и полностью жизнеподобного) оказалось возможным только после того, как возникла фотография, а чувствительность фотоматериалов стала позволять снимать при коротких выдержках. Когда – с изобретением в конце 1870-х бромсеребряных желатиновых эмульсий, являющихся основой фото- и кинопроцессов по сей день – это произошло, практически сразу же стали разрабатываться различные системы записи движения.</p>

{% endblock %}
