{% extends 'base.html' %}

{% block title %}Поиск статьи{% endblock %}

{% block content %}
<p><strong>По запросу "{{query}}" найдены следующие статьи:</strong></p>
{% if articles_list %}
  {% for a in articles_list %}
    <a class="widget-header-small button" href="{% url 'articles:detail' a.id %}"><span class="fas fa-xs" aria-hidden></span>{{a.article_title}}</a>
  {% endfor %}
{% endif %}

{% endblock %}
