:root {
  --color-bg-page: #000000;
  --color-bg-main: #050505;
  --color-bg-alt: #252525;
  --color-bg-accent: #2073c9;
  --color-fg-main: #e2e2e2;
  --color-fg-alt: #ffffff;
  --color-fg-accent: #e2e2e2;
  --color-bg-alt-transparent: rgba(37, 37, 37, 0.5);
  --color-fg-alt-transparent: rgba(255, 255, 255, 0.5);
  --color-bg-accent-transparent: rgba(32, 115, 201, 0.5);
  --color-bg-alert: rgba(32, 115, 201, 0.2);
  --color-bg-code: rgba(32, 115, 201, 0.2);
  --color-border-main: rgb(21, 21, 21);
  --color-border-nav: rgb(21, 21, 21);
  --color-border-header: rgb(61, 61, 61);
  --color-fg-alert-link: rgb(82, 155, 227);

  --font-sans: "Clear Sans", sans-serif;
  --font-slab: "Zilla Slab", "Georgia", "Liberation Serif", serif;
  --font-serif: "Alegreya", "Georgia", "Liberation Serif", serif;
  --font-body: var(--font-sans);
  --font-header: var(--font-sans);
  --bg-attach: fixed;
  --bg-size: cover;
  --thumbnail-radius: 0;
  --site-header-padding: 5px;
  --site-title-size: 3rem;
  --site-title-padding-bottom: 0.5rem;
  --color-iubenda: white;
  --color-iubenda-bg-link: rgb(255, 255, 255);
  --color-iubenda-fg-link: rgb(89, 99, 109);
  --color-iubenda-border: #d0d0d0 #c3c3c3 #b8b9ba;
  --color-iubenda-fg-link-focus: rgb(51, 51, 51);
  --color-iubenda-bg-container: rgba(37, 37, 37, 0.9);
  --print-font-body: var(--font-serif);
  --print-font-header: var(--font-sans)
}

blockquote {
  --color-fg-main-faded: rgb(188, 188, 188)
}
